/*Universal Style*/

html {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    background-color: black;
    padding: 0px;
    margin: 0px;
    width: auto;
    height: auto;
}

.main-content {
    position: relative;
    top: 5.3125rem; /* To offset for fixed header. */
}
  
.center {
    text-align: center;
}
  
.image-container img {
    overflow: auto;
    max-width: 100%
}


@media only screen and (max-width: 992px) {
  .main-content {
    top: 2.5625rem;
  }
}
/*Header*/

header {
    position: relative;
    z-index: 100;
    width: 100%;
    margin-left: 20px;
}

header .content {
    display: flex;
    align-items: center;
    padding: 1.875rem;
  }

header .logo {
    flex: 1;
    font-family: 'Merriweather', sans-serif;
    color: #111010;
    font-size: 50px;
    text-decoration: none;
    margin-left: 80px;
}

header .icon {
    width: 1rem;
    padding-right: 0.5rem;
    image-orientation: url('./assets/images/Travel Route Icon.png') no-repeat 100% 0;
    width: 10px;
    height: auto;
}    

header nav ul {
    display: flex;
}
  
nav li {
    padding-right: 2.0rem;
    font-family: 'Merriweather', sans-serif ;
    font-size: 24px;
    line-height: 1.6;
    color: #0b0b0b;
    list-style-type: none;
}

nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
    color: #0e0d0d;
    padding-right: 2.0rem;
}

/*About Us*/

#about-us-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46.5rem;
    width: 980px;
    background-image: url('./assets/images/Travel Banner.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no repeat;  
    flex-shrink: 1;  
}

#about-us {
  position: absolute;
  top: 160px;
  right: 5%;
  padding: 0 1rem;
  border: solid 1px #f6f2f2;
  border-radius: 2px;
  background-color: black;
}

#about-us .content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: "Merriweather", serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: rgb(249, 245, 245);
  font-style: italic;
}

#about-us h2 {
  font-size: 2.25rem;
}

#about-us span strong {
  font-weight: bold;
}

#about-us .cursive {
  font-family: "Merriweather", cursive;
}

/*Next Destination*/

#next-destination-section {   
  padding: 1rem 0;
  margin-top: 25%;
  background-color: #fdfbfb;
  color:#070707;
  position: relative;
  z-index: 100;
  width: 100%;
}

h1 {
    display: flex;
    font-size: 36px;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 1rem;
    color:#050505;
    font-style: italic;
}

.next-destination { 
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1;
  padding: 1rem;
  margin-top: 2%;
  background-color: rgb(251, 247, 247);
}

.next-destination .image-container {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0 2rem;
  image-orientation: url('./assets/images/Europe.jpg');
  image-orientation: url('./assets/images/Caribbean.jpg');
  image-orientation: url('./assets/images/USA.jpg');
  image-orientation: url('./assets/images/Central America.jpg');
}

.next-destination .content {
  padding: 1rem 0;
}

.next-destination h2 {
  padding-bottom: .5rem;
  font-size: 1.5rem;
  color: #040404;
  text-decoration: underline;
}

@media only screen and (max-width: 895px) {
  #next-destination-section {
    padding: 1rem;
  }

  .next-destinaton {
    margin: 0px .5rem;
    padding: 1rem;
  }

  .next-destination h2 {
    font-size: 2rem;
    line-height: 1.3;
  }

  .next-destination h3 {
    font-size: .875rem;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 600px) {
  #next-destination-section {
    flex-flow: column;
    padding: 0;
  }

  .next-destination {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }

  .next-destination .content {
    padding: 1.25rem 0 1.875rem 0;
  }
}

/*Travel News Alert*/

#travel-news-alert-section {
  padding: 2rem 0;
  margin-top: 3rem;
  position: relative;
  z-index: 100;
  width: 100%;
  flex-direction: row;
  background-color: #4a4a4a;
  background-size: contain; 
}

#travel-news-alert {
  padding: 3rem 1rem;
  display: block;
  justify-content: space-around;
  align-content: center;
  color: white;
}

#travel-news-alert h1 {
  font-weight: bold;
  font-style: italic;
  color: black;
  font-size: 65px;
  text-decoration: underline;
  margin-bottom: 5rem;
  justify-content: center;
}

#travel-news-alert h2 {
  margin-left: 6rem;
  font-size: 22px;
  color: white;
  text-align: center;
  margin-bottom: 6rem;
}

#travel-news-alert h3 {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 300;
  color: white;
  display: flex;
}

#travel-news-alert h4 {
  font-size: 1rem;
  line-height: 1;
  font-weight: 100;
  color: white;
  margin-bottom: 2rem;
}

#travel-news-alert span {
  font-size: 1rem;
  line-height: 1;
  font-weight: 100;
  color: white;
  padding-bottom: 7rem;
}

#travel-news-alert h5 {
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding-bottom: .5rem;
  display: flex;
}

#travel-news-alert .image-container {
  display: flex;
  max-width: 100%;
  position: relative;
  z-index: 100;
  flex-direction: row;
  height: 20%;
}

/*Shop*/

#shop {
  position: relative;
  z-index: 100;
  width: 100%;  
  flex-direction: row;
  border-bottom: solid 1px gray;
  background-color: rgb(6, 173, 245);
}

#shop h1 {
  font-size: 44px;
  font-style: italic;
  text-decoration: underline;
  color: white;
  justify-content: center;
}

#shop h2 {
  font-size: 26px;
  color: white;
  text-align: center;
}

#shop .image-container {
  display: flex;
  max-width: 100%;
  padding: 0 1%;
  position: relative;
  z-index: 100;
  height: 100%;
}

/*Team*/

#team-container {
  position: relative;
  z-index: 100;
  width: 100%; 
  padding-top: 3px;
  justify-content: center;
  background-color: black;
}

#team-container h1 {
  color: white;
  font-size: 42px;
  justify-content: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

#team-container .team {
  display: flex;
  justify-content: center;
}

#team-container h3 {
  padding: 1px;
  color: white;
  text-align: center;
}

#team-container p {
  padding: 1px;
  color: white;
  text-align: center;
}

#team-container h4 {
  color: white;
  text-align: center;
}

#team-container h5 {
  color: white;
  text-align: center;
}